<%= render 'navbar' %>
<div class="container">
  <div class="article-container">
    <div class="article">
      <h1><%= @article.title %></h1>
      <p><%= @article.content %></p>
    </div>
    <div class="article-actions">
      <%= link_to 'Edit article', edit_article_path(@article), class: 'btn-green' %>
      <%= link_to 'Delete article', article_path(@article), method: 'delete', data: { confirm: 'Are you sure? Really?' }, class: 'btn-green' %>
    </div>
  </div>

</div>
