<div class="navbar">
  <div class="title">
    <h1><%= link_to 'Rails Beer Wikitionary', articles_path %></h1>
  </div>
  <div class="new-article">
    <%= link_to 'New Article', new_article_path %>
  </div>
</div>
<div class="container">
  <div>
    <h1><%= @article.title %> <%= link_to 'Edit article', edit_article_path(@article) %></h1>
    <%= link_to 'Delete article', article_path(@article), method: 'delete', data: { confirm: 'Are you sure? Really?' } %>
    <p><%= @article.content %></p>
  </div>

</div>
